vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|09 Oct 2003 03:59:56 -0000
vti_extenderversion:SR|5.0.2.2623
vti_author:SR|PANPAN\\風靈兒
vti_modifiedby:SR|PANPAN\\風靈兒
vti_timecreated:TR|09 Oct 2003 03:59:56 -0000
vti_cacheddtm:TX|09 Oct 2003 03:59:56 -0000
vti_filesize:IR|1553
vti_lineageid:SR|{F2845C89-2C82-4F99-BF12-237B44F1B34E}
vti_backlinkinfo:VX|留言版/祈願樹/tree/wish_tree.htm
