vti_encoding:SR|utf8-nl
vti_restartmanual:IX|0
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ACIPAddresses vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP vti_ServerCollab vti_TimedDocEvents
vti_webservertype:SR|diskweb
vti_categories:VR|旅行 支出報表 商務 競爭 目標/目的 主意 其他 等待中 VIP 處理中 計劃 排程
vti_defaultlanguage:SR|zh-tw
vti_approvalapproved:SR|批准
vti_approvaldenied:SR|被拒絕
vti_timecreated:TR|27 Feb 2003 11:15:07 -0000
vti_oldestcompatibleversion:SR|2.0.0.0
vti_defaultcharset:SR|big5
vti_navbuttonuplabel:SR|向上
vti_disableautoimgsizeexts:SX|.asp
vti_extenderversion:SR|5.0.2.2623
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_ignorekeyboard:IR|1
vti_navbuttonprevlabel:SR|上一頁
vti_navbuttonnextlabel:SR|下一頁
vti_approvallevels:VR|批准 被拒絕 擱置
vti_navbuttonhomelabel:SR|首頁
vti_dependenciesood:IR|1
